Source: ros-melodic-robotont-nuc-description
Section: misc
Priority: optional
Maintainer: Veiko Vunder <veiko.vunder@ut.ee>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: https://wiki.ros.org/robotont
Standards-Version: 3.9.2

Package: ros-melodic-robotont-nuc-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-realsense2-description, ros-melodic-robotont-description, ros-melodic-rviz, ros-melodic-urdf, ros-melodic-xacro
Description: The robotont_nuc_description package
